$primary-color: #2bbd7c;
$secondary-color: #3f8df7;
$tertiary-color: #ff7f01;
$text-color:  #4a5e73;
$black: #37464f;
$dark-gray: #{lighten( #37464f, 2%)};
$gray: #698696;
$light-gray: #{lighten( $gray, 40%)};
$lightest-gray: #f4f8ff;
$almostwhite: #f7faff;
$white: #fff;
$success: #2bbd7c;
$error: #ea424f;
$headings-color: #344557;
$background-body-color: #fefefe;
$button-default-text-color: #4a5e73;
$button-color-text-color: #fff;