$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$code-font: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$line-height-body-font: 1.5;
$line-height-pre-font: 1.6;
$normal: 400;
$bolder: 500;
$bold: 600;
$h1-font-size: 2.44rem;
$h2-font-size: 1.95rem;
$h3-font-size: 1.56rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.8rem;
